{% extends "layout.html" %}
{% block body %}
    <h1>The main page</h1>
    <div class="container">
        <section>
            <form>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" name="age" min="0"><br>
                </div>

                <div class="form-group">
                    <label for="gender">Gender:</label>
                    {% for gender_value, gender_name in genders %}
                        <input type="radio" name="gender" value="{{gender_value}}"> {{gender_name}}<br>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="groupType">Group type:</label>
                    {% for group_value, group_name in groups %}
                        <input type="radio" name="groupType" value="{{group_value}}"> {{group_name}}<br>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="nationality">Nationality:</label>
                    <select name="nationality">
                        {% for country_code, nationality in countries %}
                            <option value="{{country_code}}"> {{nationality}}<br>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="residence">Country of residence:</label>
                    <select name="residence">
                        {% for country_code, country in countries %}
                            <option value="{{country_code}}"> {{country}}
                        {% endfor %}
                    </select>

                </div>
                <input type="submit" value="Submit">
            </form>
        </section>
    </div>
{% endblock %}
